*{
  margin: 0px;
  box-sizing: 0px; 
}

Table{
  margin: 0;
  padding: 0%;
  color:white;
  border: 2px solid rgb(8, 184, 238);
}
thead{
  padding: 0;
  margin: 0;
}

th{
  margin: 0;
  background-color: #00c3ff;
}

.FormatBody{
  color: black;
}